main{
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    background-color: aquamarine;
    width:50%;
    display: flex;
    }
  .label{
    color:red;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .buton{
    border:0.1rem solid black;
    background-color:burlywood;
    color:black;
  }
  .header{
    color:black;
    font-size: 30px;
  }
 